# Enable Rewrite Engine
RewriteEngine On

# Allow access to index.php and hamalert_spotreceiver.php
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} !^/hamalert_spotreceiver\.php$

# Redirect all other requests to index.php
RewriteRule ^(.*)$ /index.php [L]
